/* Style Sheet for acecushy.com */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 5px;
}

h1,
h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

h1 {
  min-width: auto;
  background-color: rgb(135, 206, 250);
  text-align: center;
}

h2 {
  min-width: auto;
  background-color: rgb(135, 206, 250);
  text-align: center;
}

figure img {
  display: block;
  border: 1px solid rgb(112, 128, 114);
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

figcaption {
  margin-top: 10px;
  text-align: center;
}

img {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 8px #aaa;
}

nav ul{
  padding-left: 0;
  list-style: none;
  display: flex;
  position: relative;
  justify-content: center;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav a {
  padding: 10px;
  background-color: rgb(100, 139, 237);
  color: rgb(0, 0, 0);
}

nav a:visited {
  color: rgb(139, 0, 0);
}

nav a:hover {
  background-color: #aaa;
}

a:visited {
  color: rgb(139, 0, 0);
}

a:hover {
  color: rgb(255, 215, 0);
  background-color: rgb(169, 169, 169);
}

a:active {
  color: rgb(46, 139, 87)
}

footer {
  font-size: 12px;
}

#about article {
  display: grid;
  grid-auto-rows: 75px;
  grid-gap: 5px;
}
